.login
{
    justify-content:"center";
     align-items:"center";
     display:"flex";
     padding-top: 2%;
     padding: 5%;

}
.card{
    background-color: aqua;
}
.card{
    display:flex;
    margin-left:20px;
    
}